
// Colors
$gray: #999;
$gray-light: #f2f2f2;
$gray-darker: #e6e6e6;
$black: #000;
$white: #fff;
$light-blue: #39f;
$text-dark: #414042;

$blue: #00263c;
$green: #008288;
$green-60: #66b5b8;
$green-40: #99cdd0;
$blue-green: #86d0d4;
$light-green: #86cfd5;
$l-red: #fe585e;
$wa-btn: #fe585e;
$survey-border: #cccccc;
$survey-btn-disabled: #e6e6e6;
$survey-btn-radio: #292828;
$footer-bg: #292828;
$footer-border: #3c3c3c;

$museosans: 'MuseoSans', sans-serif;
$arial: 'Arial', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$base-font-sans-serif: $museosans;
$base-font-serif: 'Times New Roman', serif;

// Body
$base-text-color: #414042;
$base-background-color: $white;
$font-size-base: 16px;
$line-height-base: 1.56;
$base-font-family: $base-font-sans-serif;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $green;

// Buttons
$btn-color: $white;
$btn-background: $black;
$btn-padding: 0.4em 0.7em;
$btn-font-size: inherit;

// Forms
$form-element-padding: $btn-padding;
$form-element-border-color: $gray;
$form-element-focus-border-color: $black;
$placeholder-color: $gray;

// Headers
$h1-font-size: 46px;
$h2-font-size: 33px;
$h3-font-size: 27px;
$h4-font-size: 22px;
$h5-font-size: 18px;
$h6-font-size: 15px;

$headings-font-family: inherit;
$headings-color: inherit;


$animation-speed: 0.3s;
